@font-face {
  font-family: "Roboto-medium";
  src: url("../../fonts/Roboto-Medium.ttf") format("truetype");
}

body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 0px 10px 10px;
  background-color: #1b2631;
  font-family: "Roboto-medium", "Arial", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  width: 700px;
  padding: 20px 10px 5px 10px;
  box-shadow: 0 0 48px 0 rgba(93, 173, 226, 0.795);
  border-radius: 10px;
  background: #17202a;
  color: #eaecee;
}


@media screen and (max-width: 768px) {

  main {
    width: 90%;
  }
  
}